extends layout

block content
  h1= title
  if locals.currentUser
    h3 Welcome Back! #{locals.currentUser.email}
    if locals.currentUser.membership === 'inactive'
      p Membersip status: Inactive
      p Activate your membersip #[a(href="/verification") here].
    else
      p Membersip status: Active
      a(href="/new-message") Create New Message
      div.messages
        br
        for message in messages
          div.message-box
            p Title: #{message.title}
            p Author: #{message.author.fullname}
            p Message:
              p #{message.message}
            p Date: #{message.date_formatted}
    a(href="/log-out") Log Out
  else
    p Welcome to #{title}!
    p Login to view members only content.
    div.messages
      for message in messages
        div.message-box
          p Title: #{message.title}
          p Message: 
            p #{message.message}
    p test3@test4.com 
    p test88@test88.com 
    p dllm0044
    form(action="/log-in" method="POST")
      div.form-group
        label(for="username") Email:
        div
          input(name="username" type="text" value="test3@test4.com") 
      div.form-group
        label(for="password") Password:
        div
          input(name="password" type="password" value="dllm0044") 
      button Log In
    if fail
      p=fail
    p #[a(href="/sign-up") Sign up] here.